<h1 style="color:black" align="center">Data Exploration: Sample SuperStore Dataset</h1>

![grf-bg.jpg](images/grf-bg.jpg)

This notebook is intended to give some quick and brief overview on how to explore a dataset, which in this case is the Sample SuperStore dataset. And to my best understanding, it's coming from a fictional online e-commerce company annual sales figures. So let's now dive-in and try to explore the dataset further with the various built-in functionalities of the Panda's library for Python have to offer, while utilizing the [Jupyter Notebook](https://jupyter.org/) as the main IDE of choice.

## Installation
First and foremost, this data exploration would assume you to have one proper and working installation of [Python](https://www.python.org/) programming language. Secondly you have the [Jupyter Notebook](https://jupyter.org/) and the [Pandas](https://pandas.pydata.org/) library installed on your workstation, that you have access to, throughout the course of the exploration. 

While the installation part for each of the mentioned pieces of software mentioned go beyond the scope of this tutorial, I would suggest that you head over to the official sites, and there you may discover further steps on how to download, install and setup the required programming language and libraries according to your operating systems. Once that you have settled with the whole installation and configuration issues, you may come back again to this page and follow along the instructions.

1. [Python Official Website](https://www.python.org/).
2. [Panda's Official Website](https://pandas.pydata.org/).
3. [Jupyter Official Website](https://jupyter.org/).

## Importing Library
Secondly we need to load the library onto our Jupyter Notebook environment. This data exploration would assume you to have a proper and working installation of [Python](https://www.python.org/) programming language, secondly you have the [Jupyter Notebook](https://jupyter.org/) and the [Pandas](https://pandas.pydata.org/) library installed at the same time which you have access to, throughout the course of the exploration.

In [1]:
# Importing packages
import pandas as pd

## Reading Datasets

The following code would imply these instructions
- *`df_orders`* = is the name of the variable, that will be using throughout the example of this tutorial.
- *`pd`* = stands for Panda, it's the convention the community is using.
- *`.read_csv`* = is a method within to read the CSV file.

In [2]:
# Let's try to read from the superstore.csv
df_orders = pd.read_csv('data/superstore.csv')

If you notice form the above code, it's implying that we need to put our `superstore.csv` dataset on a directory called `data`. So once that you download the dataset, create a folder named `data` and put your `superstore.csv` file there on that particular directory or folder.

In [3]:
df_orders

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2017-152156,11/8/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2.0,0.00,41.9136
1,2,CA-2017-152156,11/8/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0,0.00,219.5820
2,3,CA-2017-138688,6/12/2017,6/16/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0,0.00,6.8714
3,4,US-2016-108966,10/11/2016,10/18/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0,0.45,-383.0310
4,5,US-2016-108966,10/11/2016,10/18/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2.0,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10795,Yes,US-2018-147886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10796,Yes,US-2018-147998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10797,Yes,US-2018-151127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10798,Yes,US-2018-155999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10799,Yes,US-2018-155999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

By default, Panda's built-in functionality, only showing 20 columns and 10 rows for each dataset, everytime time you try to display them in the view. If you notice from the tabular data above, the dataset get truncated with triple dots sign **'...'** both for the rows and the columns. And since this dataset has 10800 rows with 21 columns, it'll only show the first 10 records for the row, with only 20 columns to the right instead of 21.

### Dropping The Row ID

The "Row ID" column is not really that informative, I think it would be safe enough for us to simply just delete them. That way, it would give us much more clarity over our dataset. 

- *`df_orders`* = is the name of the variable, that will be using throughout the example of this tutorial.
- *`.drop`* = the method being used to drop column.
- *`inplace=True`* = we used them to keep the changes onward.

In [4]:
df_orders.drop("Row ID", axis=1, inplace=True)

In [5]:
# Let's call the previously defined data variable, the 'df_orders'
df_orders

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2017-152156,11/8/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2.0,0.00,41.9136
1,CA-2017-152156,11/8/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0,0.00,219.5820
2,CA-2017-138688,6/12/2017,6/16/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0,0.00,6.8714
3,US-2016-108966,10/11/2016,10/18/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0,0.45,-383.0310
4,US-2016-108966,10/11/2016,10/18/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2.0,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10795,US-2018-147886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10796,US-2018-147998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10797,US-2018-151127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10798,US-2018-155999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10799,US-2018-155999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now you can see, from the above table, we don't have the 'ROW ID' in place no longer.

### Change The Index Column

And each time you're using `pd.read_csv('somedata.csv')` that would yield the dataset's actual rows and columns, and we certainly have quite an extensive records of data, as being displayed from the previous function. 

As you may notice, the first column isn't the actual `'Row ID`' column, rather it's the default built-in feature Panda's bringing into the dataset. Let's try to change that into something much more useful. Now, let's get back to the previous Panda's function, and add another parameter, the `'index_col'` to be exact.

And as we wish to redo again with a clean dataset, let's call them again one more time the dataset with the <br>
`'df_orders = pd.read_csv('data/superstore.csv', index_col='Order ID')'` function.<br>

And continue with the '`df_orders'` syntax again. So don't be surprise if you see the '`Row ID'` column will reappear in the dataset since that would illustrate our objective, but this time the index column values have changed from the value coming from the `'Order ID`' column.

In [6]:
# Let's try to read again from the superstore.cs, and added the index_col='Order ID', parameter.
df_orders = pd.read_csv('data/superstore.csv', index_col='Order ID')

In [7]:
# Let's call the previously defined data variable, the 'df_orders'
df_orders

,Row ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,,,,,,
CA-2017-152156,1,11/8/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2.0,0.00,41.9136
CA-2017-152156,2,11/8/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0,0.00,219.5820
CA-2017-138688,3,6/12/2017,6/16/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0,0.00,6.8714
US-2016-108966,4,10/11/2016,10/18/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0,0.45,-383.0310
US-2016-108966,5,10/11/2016,10/18/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2.0,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
US-2018-147886,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
US-2018-147998,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
US-2018-151127,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
US-2018-155999,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
US-2018-155999,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Once that we tried to add the additional parameter, as you may notice, the first column have changed to 'Order ID' column, rather then the previous Panda's built-in index column, and the other thing was, the fine print below each table now have changed, from 21 columns, to only 20 columns instead.

### Drop the Row ID & Change The Index

On to our another objective, what if we wish to combine both of the features, with dropping the `'Row ID`' and to change the `'Index`' columns at the same time, so that we could get even leaner dataset to work with. With that kind of objective, we might need to combine both of the syntax to achive our objective.

`'df_orders.drop("Row ID", axis=1, inplace=True, index_col='Order ID')`'

- `'.drop()`' = this method to drop a column from the dataset.
- `'axis=1`' = is the attribution value, on the dataset.
- `'inplace=True`' = we used them to keep our changes onward.
- `'index_col`' = make the define column, as our newly active index column instead.

In [8]:
df_orders = pd.read_csv('data/superstore.csv', index_col='Order ID')
df_orders.drop("Row ID", axis=1, inplace=True)

In [9]:
# Let's call the dataset again.
df_orders

,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,,,,,
CA-2017-152156,11/8/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2.0,0.00,41.9136
CA-2017-152156,11/8/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0,0.00,219.5820
CA-2017-138688,6/12/2017,6/16/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0,0.00,6.8714
US-2016-108966,10/11/2016,10/18/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0,0.45,-383.0310
US-2016-108966,10/11/2016,10/18/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2.0,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
US-2018-147886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
US-2018-147998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
US-2018-151127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
US-2018-155999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
US-2018-155999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now, as you may see, from the below printed information, we only have 19 columns remaining left, coming from the initial 21 columns previously being shown. Now you may ask, "But how come it's down to 19 columns, while we recall we only dropped 1 column?". The answer to that is due to the `'index_col`' method, whereas we defined the `'Order ID`' to settle as the Index of the dataset. Pandas doesn't count that to a column, rather just another indexing attribution in the dataset.

### Default Number Rows & Columns 
Let's try to set the maximum column and row to display, since by default the pandas library would display **10 records** of rows in total for a single dataset. The first 5 would coming from the top records, and the remaining would be coming from the last 5 records as a whole. But that's a little too much information anyone could digest in a short glimpse, why don't we just minimize them down to 5 records instead. The same thing with the columns view, whereas Pandas would display you 20 columns, but since our current dataset only have 19 of them, then that should be fine.

- *`pd.set_option('display.max_columns', 20)`* = setting the default column's view.
- *`pd.set_option('display.max_rows', 5)`* = setting the default row's view.

In [10]:
# Let's try to read from the superstore.csv
pd.set_option('display.max_columns', 20)
pd.set_option('display.max_rows', 5)

In [11]:
# Let's try to give it a go with the new setting.
df_orders

,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,,,,,
CA-2017-152156,11/8/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2.0,0.0,41.9136
CA-2017-152156,11/8/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3.0,0.0,219.5820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
US-2018-155999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
US-2018-155999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### The Dataset First 5 Rows
Here's another Pandas built-in method that may come handy. When you fell like taking a quick peek of the first 5 recrods from the top, the following code would deliver you those ouputs.
<br>
- *`df_orders`* = is the name of the variable, that will be using throughout the example of this tutorial.
- *`.head()`* = is the method to display the first five records of data coming from the dataset.

In [12]:
df_orders.head()

,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,,,,,
CA-2017-152156,11/8/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2.0,0.00,41.9136
CA-2017-152156,11/8/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0,0.00,219.5820
CA-2017-138688,6/12/2017,6/16/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0,0.00,6.8714
US-2016-108966,10/11/2016,10/18/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0,0.45,-383.0310
US-2016-108966,10/11/2016,10/18/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2.0,0.20,2.5164

### The Dataset Last 5 Rows
Much like the above previous syntax, the similar can be apply to the bottom 5 records coming from your dataset. And you guess it right, the syntax would be `.tail()` and that would give you the last 5 records from the dataset.
<br>
- *`df_orders`* = is the name of the variable, that will be using throughout the example of this tutorial.
- *`.tail()`* = is the method to display the last five records of data coming from the dataset.

In [13]:
df_orders.tail(5)

,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,,,,,
US-2018-147886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
US-2018-147998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
US-2018-151127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
US-2018-155999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
US-2018-155999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# The Dataset Structure

Now that you have one finer understanding on the previous aspect of importing library, loading the dataset and manipulate the views of the rows and the columns, let's now move on to the Dataset structure aspect. Whereas it's also an important area, before continuing the journey of exploring the dataset further. The dataset you get from the wild, might not always have the proper structure and data types you need. And before you could do further analysis and manipulation, let's make sure that both the structure and data types have been taken care of properly.

## Rows & Columns

Following are both the built-in method to achive our next objective, as we go more deeper over the analysis part of the dataset. Let's try to understand further of what how many rows and columns are there, we know this information from the previous part, but lucky for us, Pandas also provide us with a method di display the information in hand.

- *`df_orders`* = is the name of the variable, that will be using throughout the example of this tutorial.
- *`.shape()`* = is the method to display the number of rows and column.

In [14]:
df_orders.shape

(10800, 19)

Aside from other ways to know how many Rows and Columns available from your dataset, Pandas also have a builtin method to dispay those information. So now we understand that the dataset has the following total of information records.
<br />
- `10800` coloumns
- `19` coloumns

## Dataset Columns

Imagine that you're working with a large dataset, and by large, not just merely on the amounts of rows that it'd produce. But also on the amount of columns spreaded from left to right. Good thing we're only working a 19 columns (from previously 21 columns in our dataset), now wouldn't it be nice to have a method to display all the columns available in our dataset? Well the good news is, Pandas shipped with a builtin method just to achive that.


- *`df_orders`* = is the name of the variable, that will be using throughout the example of this tutorial.
- *`.columns`* = is the method to display all the columns available in the dataset.

In [15]:
# Let's print the columns (features) names.
df_orders.columns

Index(['Order Date', 'Ship Date', 'Ship Mode', 'Customer ID', 'Customer Name',
       'Segment', 'Country', 'City', 'State', 'Postal Code', 'Region',
       'Product ID', 'Category', 'Sub-Category', 'Product Name', 'Sales',
       'Quantity', 'Discount', 'Profit'],
      dtype='object')

## Columns Modification
### Renaming Columns 

The following code would imply these instructions:
- *`df_orders`* = is the name of the variable, that will be using throughout the example of this tutorial.
- *`.columns`* = is the method to rename the column names.

In [16]:
# Let's try to rename the column.
df_orders.columns = ['OrderDate', 'ShipDate', 'ShipMode', 'CustomerID', 'CustomerName', 'Segment' , 'Country', 'City', 'State', 'PostalCode', 'Region', 'ProductID', 'Category', 'SubCategory', 'ProductName' , 'Sales', 'Quantity', 'Discount', 'Profit']

In [17]:
df_orders

,OrderDate,ShipDate,ShipMode,CustomerID,CustomerName,Segment,Country,City,State,PostalCode,Region,ProductID,Category,SubCategory,ProductName,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,,,,,
CA-2017-152156,11/8/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2.0,0.0,41.9136
CA-2017-152156,11/8/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3.0,0.0,219.5820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
US-2018-155999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
US-2018-155999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now, it's just my way of doing things on EDA aspect, is trying to eliminate any white spaces on between columns name. It gets better and you may take a lot benefit from performing this method, as we move on to something more complicated exploration, not to mention, we'll benefit on the clarity aspect, too.

## Columns Data Type

Many times before you wish to explore further your columns in a dataset with some operation, you may need to make sure it's the correct data type that you're working with. For example, you wouldn't be able to do a division operation over a Timestamp data format, or multiply a String with with another string for that matter.  

- *`df_orders`* = is the name of the variable, that will be using throughout the example of this tutorial.
- *`.columns`* = is the method to display all the columns available in the dataset.
- *`.dtypes()`* = is the method to display the data types from the dataset available.

In [18]:
# Let's print the columns data types.
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10800 entries, CA-2017-152156 to US-2018-155999
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OrderDate     9994 non-null   object
 1   ShipDate      9994 non-null   object
 2   ShipMode      9994 non-null   object
 3   CustomerID    9994 non-null   object
 4   CustomerName  9994 non-null   object
 5   Segment       9994 non-null   object
 6   Country       9994 non-null   object
 7   City          9994 non-null   object
 8   State         9994 non-null   object
 9   PostalCode    9983 non-null   float64
 10  Region        9994 non-null   object
 11  ProductID     9994 non-null   object
 12  Category      9994 non-null   object
 13  SubCategory   9994 non-null   object
 14  ProductName   9994 non-null   object
 15  Sales         9994 non-null   float64
 16  Quantity      9994 non-null   float64
 17  Discount      9994 non-null   float64
 18  Profit        9994 non-null   float64
dtypes: float64(5), object(14)
memory usage: 1.6+ MB

### Incorrect Columns Data Type

As we can see from the above snippets, we have noticed there are couple of columns data types that were set incorrectly. For instance, the `OrderDate` data type was set to `object` data type instead of `datetime`, or the `PostalCode` was set to `float` data type, though you wouldn't do any calculation on top of it. Somewhere down the line with that kind of flaws, will lead us to even bigger problem if we don't try to fix them now. Let's try to patch those data types with the following methods.

- *`df_orders`* = is the name of the variable, that will be using throughout the example of this tutorial.
- *`.astype`* = is the method to change the coloumns data type in the dataset.

In [19]:
# Let's try to change the datatypes of the following column in the dataset.
df_orders['OrderDate'] = df_orders['OrderDate'].astype('datetime64[ns]')
df_orders['ShipDate'] = df_orders['ShipDate'].astype('datetime64[ns]')
df_orders['PostalCode'] = df_orders['PostalCode'].astype('object')

And now let's try to recheck them again, to see if the codes have worked as intended.

In [20]:
# Let's print the columns data types.
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10800 entries, CA-2017-152156 to US-2018-155999
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OrderDate     9994 non-null   datetime64[ns]
 1   ShipDate      9994 non-null   datetime64[ns]
 2   ShipMode      9994 non-null   object
 3   CustomerID    9994 non-null   object
 4   CustomerName  9994 non-null   object
 5   Segment       9994 non-null   object
 6   Country       9994 non-null   object
 7   City          9994 non-null   object
 8   State         9994 non-null   object
 9   PostalCode    9983 non-null   object
 10  Region        9994 non-null   object
 11  ProductID     9994 non-null   object
 12  Category      9994 non-null   object
 13  SubCategory   9994 non-null   object
 14  ProductName   9994 non-null   object
 15  Sales         9994 non-null   float64
 16  Quantity      9994 non-null   float64
 17  Discount      9994 non-null   float64
 18  Profit        9994 non-null   float64
dtypes: datetime64[ns](2), float64(4), object(13)
memory usage: 1.6+ MB

### Dataset Statistic Figures
The following code would imply these instructions
- *`df_orders`* = is the name of the variable, that will be using throughout the example of this tutorial.
- *`.describe`* = is the method to pull out some statistics figures from the dataset.
- Short note, the `.describe` method would only work for numerical coloumn, and not categorical.
- While for the `(include='all')`, would work on both numerical & categorical values.

In [21]:
# Describing statistical information on the dataset
df_orders.describe()

              Sales     Quantity     Discount       Profit
count   9994.000000  9994.000000  9994.000000  9994.000000
mean     229.858001     3.789574     0.156203    28.656896
...             ...          ...          ...          ...
75%      209.940000     5.000000     0.200000    29.364000
max    22638.480000    14.000000     0.800000  8399.976000

[8 rows x 4 columns]

In [22]:
# Describing more statistical information on the dataset
df_orders.describe(include='all')

,OrderDate,ShipDate,ShipMode,CustomerID,CustomerName,Segment,Country,City,State,PostalCode,Region,ProductID,Category,SubCategory,ProductName,Sales,Quantity,Discount,Profit
count,9994,9994,9994,9994,9994,9994,9994,9994,9994,9983.0,9994,9994,9994,9994,9994,9994.00,9994.0,9994.0,9994.000
unique,1236,1334,4,793,793,3,1,531,49,630.0,4,1862,3,17,1850,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,209.94,5.0,0.2,29.364
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22638.48,14.0,0.8,8399.976

### Statistic Figures

The following code would imply these instructions

*- `df_orders`* = is the name of the variable, that will be using throughout the example of this tutorial.<br>
*- `.count`* = is the count value to a specific column.<br>
*- `.mean`* = is the mean value to a specific column.<br>
*- `.std`* = is the std value to a specific column.<br>
*- `.min`* = is the min value to a specific column.

In [23]:
df_orders["Sales"].count()

9994

In [24]:
df_orders["Sales"].mean()

229.8580008304938

In [25]:
df_orders["Sales"].std()

623.2451005086818

In [26]:
df_orders["Sales"].min()

0.444

# Exporting Dataset

Once that we've satisfied with out results, let's export them a new CSV dataset, so we could work with them on the next notebook.

*- `df_orders`* = is the name of the variable, that will be using throughout the example of this tutorial.<br>
*- `.to_csv`* = is the export method to a CSV dataset.<br>
*- `index = False`* = we need to definet this index value set to False, since we don't want the index column.

In [27]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10800 entries, CA-2017-152156 to US-2018-155999
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OrderDate     9994 non-null   datetime64[ns]
 1   ShipDate      9994 non-null   datetime64[ns]
 2   ShipMode      9994 non-null   object
 3   CustomerID    9994 non-null   object
 4   CustomerName  9994 non-null   object
 5   Segment       9994 non-null   object
 6   Country       9994 non-null   object
 7   City          9994 non-null   object
 8   State         9994 non-null   object
 9   PostalCode    9983 non-null   object
 10  Region        9994 non-null   object
 11  ProductID     9994 non-null   object
 12  Category      9994 non-null   object
 13  SubCategory   9994 non-null   object
 14  ProductName   9994 non-null   object
 15  Sales         9994 non-null   float64
 16  Quantity      9994 non-null   float64
 17  Discount      9994 non-null   float64
 18  Profit        9994 non-null   float64
dtypes: datetime64[ns](2), float64(4), object(13)
memory usage: 1.6+ MB

In [28]:
df_orders.to_csv('data/df_orders_exported.csv') 
# index =False)

Now go ahead and check your current working directory. you may find your `df_orders_exported.csv` there.

# Bonus Stage

Now that we've come a long way of exploring our `superstore.csv` dataset, it's time to dive a little bit deeper of what, both Python and Pandas capable of delivering. Let's try to create a custom class in Python by leveraging our builtin Pandas method available in the library.

In [29]:
# Let's create a class named `display_all`, by which later we call on the next command.

def display_all(df_orders):
    with pd.option_context("display.max_rows", 20, "display.max_columns", 20): 
        display(df_orders)

What it does basically, it creates a class named `display_all` and called the `df_orders` variable that we've defined earlier at the top of this jupyter notebook tutorial. Next, we call the `pd.option_context` method that would provide us with the `display.max_rows` and the `dispplay.max_columns` attributions. And lastly we combine them all in the `display()` method by the end of the class.

Now that we've combine them all together, let's put them into action, and see what it delivers back to us this time.

In [30]:
display_all(df_orders.head(10).T)

Order ID,CA-2017-152156,CA-2017-152156,CA-2017-138688,US-2016-108966,US-2016-108966,CA-2015-115812,CA-2015-115812,CA-2015-115812,CA-2015-115812,CA-2015-115812
OrderDate,2017-11-08 00:00:00,2017-11-08 00:00:00,2017-06-12 00:00:00,2016-10-11 00:00:00,2016-10-11 00:00:00,2015-06-09 00:00:00,2015-06-09 00:00:00,2015-06-09 00:00:00,2015-06-09 00:00:00,2015-06-09 00:00:00
ShipDate,2017-11-11 00:00:00,2017-11-11 00:00:00,2017-06-16 00:00:00,2016-10-18 00:00:00,2016-10-18 00:00:00,2015-06-14 00:00:00,2015-06-14 00:00:00,2015-06-14 00:00:00,2015-06-14 00:00:00,2015-06-14 00:00:00
ShipMode,Second Class,Second Class,Second Class,Standard Class,Standard Class,Standard Class,Standard Class,Standard Class,Standard Class,Standard Class
CustomerID,CG-12520,CG-12520,DV-13045,SO-20335,SO-20335,BH-11710,BH-11710,BH-11710,BH-11710,BH-11710
CustomerName,Claire Gute,Claire Gute,Darrin Van Huff,Sean O'Donnell,Sean O'Donnell,Brosina Hoffman,Brosina Hoffman,Brosina Hoffman,Brosina Hoffman,Brosina Hoffman
Segment,Consumer,Consumer,Corporate,Consumer,Consumer,Consumer,Consumer,Consumer,Consumer,Consumer
Country,United States,United States,United States,United States,United States,United States,United States,United States,United States,United States
City,Henderson,Henderson,Los Angeles,Fort Lauderdale,Fort Lauderdale,Los Angeles,Los Angeles,Los Angeles,Los Angeles,Los Angeles
State,Kentucky,Kentucky,California,Florida,Florida,California,California,California,California,California
PostalCode,42420,42420,90036,33311,33311,90032,90032,90032,90032,90032
Region,South,South,West,South,South,West,West,West,West,West
ProductID,FUR-BO-10001798,FUR-CH-10000454,OFF-LA-10000240,FUR-TA-10000577,OFF-ST-10000760,FUR-FU-10001487,OFF-AR-10002833,TEC-PH-10002275,OFF-BI-10003910,OFF-AP-10002892
Category,Furniture,Furniture,Office Supplies,Furniture,Office Supplies,Furniture,Office Supplies,Technology,Office Supplies,Office Supplies
SubCategory,Bookcases,Chairs,Labels,Tables,Storage,Furnishings,Art,Phones,Binders,Appliances
ProductName,Bush Somerset Collection Bookcase,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Self-Adhesive Address Labels for Typewriters b...,Bretford CR4500 Series Slim Rectangular Table,Eldon Fold 'N Roll Cart System,Eldon Expressions Wood and Plastic Desk Access...,Newell 322,Mitel 5320 IP Phone VoIP phone,DXL Angle-View Binders with Locking Rings by S...,Belkin F5C206VTEL 6 Outlet Surge
Sales,261.96,731.94,14.62,957.577,22.368,48.86,7.28,907.152,18.504,114.9
Quantity,2,3,2,5,2,7,4,6,3,5
Discount,0,0,0,0.45,0.2,0,0,0.2,0.2,0
Profit,41.9136,219.582,6.8714,-383.031,2.5164,14.1694,1.9656,90.7152,5.7825,34.47

Since we've defined the `display_all` from the previous class, we can now use it to explore further and combine them with different methods available in Pandas, much like the `.describe` attribute.

In [31]:
display_all(df_orders.describe(include='all').T)

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
OrderDate,9994,1236,2017-09-05 00:00:00,38,2015-01-03,2018-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ShipDate,9994,1334,2016-12-16 00:00:00,35,2015-01-07,2019-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ShipMode,9994,4,Standard Class,5968,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CustomerID,9994,793,WB-21850,37,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CustomerName,9994,793,William Brown,37,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Segment,9994,3,Consumer,5191,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country,9994,1,United States,9994,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
City,9994,531,New York City,915,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
State,9994,49,California,2001,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PostalCode,9983,630,10035,263,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Region,9994,4,West,3203,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ProductID,9994,1862,OFF-PA-10001970,19,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Category,9994,3,Office Supplies,6026,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SubCategory,9994,17,Binders,1523,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ProductName,9994,1850,Staple envelope,48,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sales,9994,NaN,NaN,NaN,NaT,NaT,229.858,623.245,0.444,17.28,54.49,209.94,22638.5
Quantity,9994,NaN,NaN,NaN,NaT,NaT,3.78957,2.22511,1,2,3,5,14
Discount,9994,NaN,NaN,NaN,NaT,NaT,0.156203,0.206452,0,0,0.2,0.2,0.8
Profit,9994,NaN,NaN,NaN,NaT,NaT,28.6569,234.26,-6599.98,1.72875,8.6665,29.364,8399.98